/* ======== margin Top============ */
.margin-top-100 {
  margin-top: 10rem;
}
/* ======== margin buttom============ */

/* ======== Z-index============ */

$z-tooltio: 10;
$z-fixed: 100;
/* ======== Font and typography============ */
.bold-text {
  font-weight: $font-bold;
}
