/*========================= Font  ============================*/
$default-font: "Lato", sans-serif;

/*========================= Color ============================*/
$color-white: #ffffff;
$color-primary: #d90647;
$border-color: #e0e0e0;
$bg-form: #f8f8f8;
$footer-text-color: #363636;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Bold text
$font-bold: 800;
